body {
	margin: 0 auto;
}

img {
	width: 150px;
	height: 150px;
}

table {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	background-color: rgb(0, 255, 247, 0.5);
}

td {
	width: 150px;
	height: 150px;
}

div {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%);
}

button {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%);
}